
.Shop_Shop {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
	background: rgba(255,255,255,1.00);
}
.Shop_Shop .BgCircle {
	position: absolute;
	left: -431.88px;
	top: 0px;
	width: 2422.92px;
	height: 3663.6600000000003px;
}
.Shop_Shop .BgCircle .Ellipse3 {
	position: absolute;
	left: 62.22px;
	top: 2631.54px;
	width: 1032.1200000000001px;
	height: 1032.1200000000001px;
}
.Shop_Shop .BgCircle .Ellipse1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1039.44px;
	height: 1039.44px;
	background: rgba(30,121,78,1.00);
	border-radius: 50%;
}
.Shop_Shop .BgCircle .Ellipse2 {
	position: absolute;
	left: 1200.48px;
	top: 1189.5px;
	width: 1222.44px;
	height: 1222.44px;
	background: rgba(104,219,50,1.00);
	border-radius: 50%;
}
.Shop_Shop .Frame2 {
	position: absolute;
	left: -3.66px;
	top: 1112.64px;
	width: 1438.38px;
	height: 1976.4px;
}
.Shop_Shop .Frame2 .Product4 {
	position: absolute;
	left: 51.24px;
	top: 2466.84px;
	width: 1312.378513183594px;
	height: 656.3597021484376px;
}
.Shop_Shop .Frame2 .Product4 .Rectangle5 {
	position: absolute;
	left: 20.398401489257814px;
	top: 0px;
	width: 1291.980111694336px;
	height: 625.86px;
	background: linear-gradient(90deg, rgba(30, 121, 78, 1.00) 0.0%, rgba(0, 174, 91, 1.00) 100.0%);
	border-radius: 51.24px;
}
.Shop_Shop .Frame2 .Product4 .image2 {
	position: absolute;
	left: 0px;
	top: 24.44720947265625px;
	width: 653.5113848876954px;
	height: 631.9124926757813px;
	object-fit: cover;
	overflow: hidden;
}
.Shop_Shop .Frame2 .Product4 .Price {
	position: absolute;
	left: 646.2584014892578px;
	top: 461.1604467773438px;
	width: 629.5201116943359px;
	height: 139.08px;
}
.Shop_Shop .Frame2 .Product4 .Price .points {
	position: absolute;
	left: 413.5801116943359px;
	top: 36.6px;
	width: 215.94px;
	height: 91.5px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 200;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product4 .Price ._50000 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 409.92011169433596px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product4 .AirPodsMax {
	position: absolute;
	left: 573.0584014892578px;
	top: 21.96044677734375px;
	width: 702.720111694336px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product4 .Generation1 {
	position: absolute;
	left: 825.5984014892579px;
	top: 186.66044677734376px;
	width: 450.18011169433595px;
	height: 91.5px;
	color: rgba(255,255,255,0.90);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 300;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product5 {
	position: absolute;
	left: 73.2px;
	top: 2653.5px;
	width: 1312.378513183594px;
	height: 656.3597021484376px;
}
.Shop_Shop .Frame2 .Product5 .Rectangle5_1 {
	position: absolute;
	left: 20.398401489257814px;
	top: 0px;
	width: 1291.980111694336px;
	height: 625.86px;
	background: linear-gradient(90deg, rgba(30, 121, 78, 1.00) 0.0%, rgba(0, 174, 91, 1.00) 100.0%);
	border-radius: 51.24px;
}
.Shop_Shop .Frame2 .Product5 .image2_1 {
	position: absolute;
	left: 0px;
	top: 24.44720947265625px;
	width: 653.5113848876954px;
	height: 631.9124926757813px;
	object-fit: cover;
	overflow: hidden;
}
.Shop_Shop .Frame2 .Product5 .Price_1 {
	position: absolute;
	left: 646.2584014892578px;
	top: 461.1604467773438px;
	width: 629.5201116943359px;
	height: 139.08px;
}
.Shop_Shop .Frame2 .Product5 .Price_1 .points_1 {
	position: absolute;
	left: 413.5801116943359px;
	top: 36.6px;
	width: 215.94px;
	height: 91.5px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 200;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product5 .Price_1 ._50000_1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 409.92011169433596px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product5 .AirPodsMax_1 {
	position: absolute;
	left: 573.0584014892578px;
	top: 21.96044677734375px;
	width: 702.720111694336px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product5 .Generation1_1 {
	position: absolute;
	left: 825.5984014892579px;
	top: 186.66044677734376px;
	width: 450.18011169433595px;
	height: 91.5px;
	color: rgba(255,255,255,0.90);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 300;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product3 {
	position: absolute;
	left: 51.24px;
	top: 1636.02px;
	width: 1312.378513183594px;
	height: 656.3597021484376px;
}
.Shop_Shop .Frame2 .Product3 .Rectangle5_2 {
	position: absolute;
	left: 20.398401489257814px;
	top: 0px;
	width: 1291.980111694336px;
	height: 625.86px;
	background: linear-gradient(90deg, rgba(30, 121, 78, 1.00) 0.0%, rgba(0, 174, 91, 1.00) 100.0%);
	border-radius: 51.24px;
}
.Shop_Shop .Frame2 .Product3 .image2_2 {
	position: absolute;
	left: 0px;
	top: 24.447097778320312px;
	width: 653.5113848876954px;
	height: 631.9126043701173px;
	object-fit: cover;
	overflow: hidden;
}
.Shop_Shop .Frame2 .Product3 .Price_2 {
	position: absolute;
	left: 646.2584014892578px;
	top: 461.1604467773438px;
	width: 629.5201116943359px;
	height: 139.08px;
}
.Shop_Shop .Frame2 .Product3 .Price_2 .points_2 {
	position: absolute;
	left: 413.5801116943359px;
	top: 36.6px;
	width: 215.94px;
	height: 91.5px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 200;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product3 .Price_2 ._50000_2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 409.92011169433596px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product3 .AirPodsMax_2 {
	position: absolute;
	left: 573.0584014892578px;
	top: 21.96044677734375px;
	width: 702.720111694336px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product3 .Generation1_2 {
	position: absolute;
	left: 825.5984014892579px;
	top: 186.66044677734376px;
	width: 450.18011169433595px;
	height: 91.5px;
	color: rgba(255,255,255,0.90);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 300;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product2 {
	position: absolute;
	left: 52.80159851074219px;
	top: 805.1995532226563px;
	width: 1312.3784014892578px;
	height: 656.3597021484376px;
}
.Shop_Shop .Frame2 .Product2 .Rectangle5_3 {
	position: absolute;
	left: 20.398401489257814px;
	top: 0px;
	width: 1291.98px;
	height: 625.86px;
	background: linear-gradient(90deg, rgba(30, 121, 78, 1.00) 0.0%, rgba(0, 174, 91, 1.00) 100.0%);
	border-radius: 51.24px;
}
.Shop_Shop .Frame2 .Product2 .image2_3 {
	position: absolute;
	left: 0px;
	top: 24.447097778320312px;
	width: 653.5113848876954px;
	height: 631.9126043701173px;
	object-fit: cover;
	overflow: hidden;
}
.Shop_Shop .Frame2 .Product2 .Price_3 {
	position: absolute;
	left: 646.2584014892578px;
	top: 461.1604467773438px;
	width: 629.52px;
	height: 139.08px;
}
.Shop_Shop .Frame2 .Product2 .Price_3 .points_3 {
	position: absolute;
	left: 413.58000000000004px;
	top: 36.6px;
	width: 215.94px;
	height: 91.5px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 200;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product2 .Price_3 ._50000_3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 409.92px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product2 .AirPodsMax_3 {
	position: absolute;
	left: 573.0584014892578px;
	top: 21.96044677734375px;
	width: 702.72px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product2 .Generation1_3 {
	position: absolute;
	left: 825.5984014892579px;
	top: 186.66044677734376px;
	width: 450.18px;
	height: 91.5px;
	color: rgba(255,255,255,0.90);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 300;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product1 {
	position: absolute;
	left: 67.86793579101563px;
	top: 0px;
	width: 1297.3120642089843px;
	height: 631.3770858764649px;
}
.Shop_Shop .Frame2 .Product1 .Rectangle4 {
	position: absolute;
	left: 5.3320642089843755px;
	top: 0px;
	width: 1291.98px;
	height: 625.86px;
	background: linear-gradient(90deg, rgba(30, 121, 78, 1.00) 0.0%, rgba(0, 174, 91, 1.00) 100.0%);
	border-radius: 51.24px;
}
.Shop_Shop .Frame2 .Product1 .Price_4 {
	position: absolute;
	left: 623.8720642089844px;
	top: 461.16px;
	width: 607.5600000000001px;
	height: 139.08px;
}
.Shop_Shop .Frame2 .Product1 .Price_4 .points_4 {
	position: absolute;
	left: 391.62px;
	top: 36.6px;
	width: 215.94px;
	height: 91.5px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 200;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Frame2 .Product1 .Price_4 ._10000 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 387.96000000000004px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product1 .image1 {
	position: absolute;
	left: 0px;
	top: 54.900000000000006px;
	width: 533.9290832519531px;
	height: 576.4770858764649px;
	object-fit: cover;
	overflow: hidden;
	border-radius: 58.56px;
}
.Shop_Shop .Frame2 .Product1 .AirPodsPro {
	position: absolute;
	left: 579.9520642089844px;
	top: 21.96px;
	width: 662.46px;
	height: 139.08px;
	color: rgba(255,255,255,1.00);
	font-family: Outfit;
	font-size: 109.80000000000001px;
	font-weight: 500;
	line-height: 138.3479972076416px;
}
.Shop_Shop .Frame2 .Product1 .Generation2 {
	position: absolute;
	left: 777.5920642089844px;
	top: 186.66px;
	width: 464.82px;
	height: 91.5px;
	color: rgba(255,255,255,0.90);
	font-family: Outfit;
	font-size: 73.2px;
	font-weight: 300;
	line-height: 92.2320027923584px;
}
.Shop_Shop .Nav {
	position: absolute;
	left: 73.2px;
	top: 2803.56px;
	width: 1291.98px;
	height: 237.9px;
}
.Shop_Shop .Nav .Rectangle2 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1291.98px;
	height: 237.9px;
	background: rgba(217,217,217,1.00);
	border-radius: 333.06px;
}
.Shop_Shop .Nav .Image {
	position: absolute;
	left: 109.80000000000001px;
	top: 47.58px;
	width: 139.08px;
	height: 142.74px;
	object-fit: cover;
	overflow: hidden;
}
.Shop_Shop .Nav .Image_1 {
	position: absolute;
	left: 417.24px;
	top: 95.16px;
	width: 161.04000000000002px;
	height: 95.16px;
	object-fit: cover;
	overflow: hidden;
}
.Shop_Shop .Nav .Image_2 {
	position: absolute;
	left: 1061.4px;
	top: 43.92px;
	width: 120.78px;
	height: 146.4px;
	object-fit: cover;
	overflow: hidden;
}
.Shop_Shop .Nav .Image_3 {
	position: absolute;
	left: 732px;
	top: 62.22px;
	width: 164.70000000000002px;
	height: 128.1px;
	object-fit: cover;
	overflow: hidden;
}
.Shop_Shop .Menu {
	position: absolute;
	left: 73.2px;
	top: 922.32px;
	width: 1152.9px;
	height: 84.18px;
}
.Shop_Shop .Menu .headphones {
	position: absolute;
	left: 296.46000000000004px;
	top: 0px;
	width: 347.7px;
	height: 73.2px;
	color: rgba(30,121,78,1.00);
	font-family: Outfit;
	font-size: 58.56px;
	font-weight: 500;
	line-height: 73.78559944152832px;
}
.Shop_Shop .Menu .giftcards {
	position: absolute;
	left: 0px;
	top: 3.66px;
	width: 230.58px;
	height: 69.54px;
	color: rgba(0,0,0,0.50);
	font-family: Outfit;
	font-size: 54.900000000000006px;
	font-weight: 200;
	line-height: 69.1739986038208px;
}
.Shop_Shop .Menu .gadets {
	position: absolute;
	left: 713.7px;
	top: 3.66px;
	width: 168.36px;
	height: 69.54px;
	color: rgba(0,0,0,0.50);
	font-family: Outfit;
	font-size: 54.900000000000006px;
	font-weight: 200;
	line-height: 69.1739986038208px;
}
.Shop_Shop .Menu .phones {
	position: absolute;
	left: 973.5600000000001px;
	top: 3.66px;
	width: 179.34px;
	height: 69.54px;
	color: rgba(0,0,0,0.50);
	font-family: Outfit;
	font-size: 54.900000000000006px;
	font-weight: 200;
	line-height: 69.1739986038208px;
}
.Shop_Shop .Menu .Line1 {
	position: absolute;
	left: 296.46000000000004px;
	top: 84.18px;
	width: 168.36px;
	height: 0px;
	border: 2px solid rgba(30.28125151991844,121.12499848008156,77.51999750733376,1);
}
.Shop_Shop .Hero {
	position: absolute;
	left: 62.22px;
	top: 292.8px;
	width: 1281px;
	height: 486.78000000000003px;
}
.Shop_Shop .Hero .shopwithyourearnedcoinsnow {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1281px;
	height: 486.78000000000003px;
	color: rgba(0,0,0,1.00);
	font-family: Outfit;
	font-size: 128.1px;
	font-weight: 500;
	line-height: 161.4059944152832px;
}
.Shop_Shop .Header {
	position: absolute;
	left: 91.5px;
	top: 65.88px;
	width: 84.18px;
	height: 104.38315979003907px;
}
.Shop_Shop .Header .logo1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 84.18px;
	height: 104.38315979003907px;
	object-fit: cover;
	overflow: hidden;
}